# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Database
sql_app.db
*.db-journal
*.db-shm
*.db-wal

# Local Storage (Legacy)
backend/uploads/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.log
